

#root {
  --text-color1: #5e0054; 
  --text-color2: #fff9fe; 
  --text-color3:#fde3f9;
  --text-color4:rgba(184, 184, 184, 0.4);
  --text-color5:rgba(96, 35, 77, 0.4);
  --text-color6:rgba(177, 93, 255, 0.356);
  
}

.main{  
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 



.square {
  width: 10px;
  height: 10px;
  color:var(--text-color1) ;
  border-radius: 2px;
}




.navmargin{
  margin-left:100px; 
  margin-top: -200px;
}





.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
}

.center-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.custom-button {
  width: 300px;
  height: 50px;
  background-color:var(--text-color2);
  color: var(--text-color1);
}


.input-label {
  font-size: 12px;
  color: var(--text-color2);
  margin-bottom: 0px;
 
}

.input-block {
  font-size: 12px;
  width:300px;
  /* color: var(--text-color2); */
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;

}
.input-block::placeholder {
  color:var(--text-color4) ; 
 
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown-container2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.centerinputbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;

}

.showboxcomponents {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  
}



/* the dropdown css */
/* ------------------------------------------------------ */

.custom-select__placeholder {
  color: rgba(129, 129, 129, 0.4) !important; 
}
.custom-option {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 300px;
  margin-left: 5px;
  font-size: 14px;
 
  
}
.custom-option.selected {
  font-weight: bold;
}
.custom-option .chosen-label {
  margin-right: 5px;

  
}
.custom-option .tick-icon {
  margin-left: 5px;
  order: 2; 
}

.custom-option .label {
  order: 1; 
}

.custom-select__control {
  width: 300px !important; 
  border-radius: 0px !important;
  font-size: 12px;
  border: 0px !important;
  
  
}

.custom-select__menu {
  width: 300px !important; 
}

.custom-select__indicator-separator {
  display: none;
}

/* ----------------------------------------------------- */


.centerform {
  width: 330px;
  height: auto;
  background-color: var(--text-color1);;
  border-radius: 25px;
}


.d1 > * {
  margin-bottom: 0.5rem;
}

.d2 > * {
  margin-bottom: 0.5rem;
}
.input-container {
  position: relative;
}
.exclamation-mark {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 20px;
}


@media screen and (max-width: 800px) {
  .navmargin {
    margin-left: 200px;
    margin-top: 500px;
  }

  .d2 > * {
    margin-bottom: 1rem;
  }

  .input-block {width:250px;}

  .custom-button {
    width: 250px; 
  }

  .custom-select__menu {
    width: 250px !important; 
  }
  .custom-select__control {
    width: 250px !important; }

    .custom-option { 
      width: 250px !important;}

      .centerinputbox {
        padding: 0.5rem;
      }
      .center-content {
        gap:30px;
      }
      .centerform {width: 300px;}

     

}


@media screen and (max-width: 380px) {
  .navmargin {
    margin-left: 120px;
    margin-top: 520px;
  }

  .d2 > * {
    margin-bottom: 1rem;
  }

  .input-block {width:200px;}

  .custom-button {
    width: 200px; 
  }

  .custom-select__menu {
    width: 200px !important; 
  }
  .custom-select__control {
    width: 200px !important; }

    .custom-option { 
      width: 200px !important;}

      .centerinputbox {
        padding: 0.3rem;
      }
      .center-content {
        gap:20px;
      }
      .centerform {width: 250px;}
     



}